name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: write

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Parse version from tag
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Install bump tool
        run: pip install bump-my-version

      - name: Bump version in pyproject.toml
        run: |
          bump-my-version update --new-version $VERSION --allow-dirty
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add pyproject.toml
          git commit -m "bump: version $VERSION [ci skip]"
          git push

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write  # Trusted Publish requirement

    environment:
      name: pypi
      url: https://pypi.org/project/depup/

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
