name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, edited, synchronize, labeled, unlabeled]

permissions:
  contents: write
  pull-requests: write


jobs:
  update_release_draft:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update Release Draft
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
